<div class="container" ng-controller="accountController" xmlns="http://www.w3.org/1999/html">
    <p>Добро пожаловать в личный кабинет</p>
    <p></p>

    <div class="statistic" style="display: flex; justify-content: space-between">

        <div class="card" style="width: 18rem; justify-content: center">
            <div class="card-body" style="justify-content: center">
                <h4 class="card-title" style="text-align: center">Кол-во ДТ в работе:</h4>
            </div>
            <h2 style="text-align: center">{{statistic.quantityDeclarationInWork}}</h2>
        </div>

        <div class="card" style="width: 18rem; justify-content: center">
            <div class="card-body" style="justify-content: center">
                <h4 class="card-title" style="text-align: center">% ДТ со сроком выпуска не более 1 дня:</h4>
            </div>
            <h2 style="text-align: center">{{statistic.percentDeclarationIssuedWithOneDayOfMonth}} %</h2>
        </div>

        <div class="card" style="width: 18rem; justify-content: center">
            <div class="card-body" style="justify-content: center">
                <h4 class="card-title" style="text-align: center">% ДТ поданных до 12:00:</h4>
            </div>
            <h2 style="text-align: center">{{statistic.percentDeclarationFirstHalfOfTheDay}} %</h2>
        </div>

        <div class="card" style="width: 18rem; justify-content: center">
            <div class="card-body" style="justify-content: center">
                <h4 class="card-title" style="text-align: center">Средний срок выпуска ДТ:</h4>
            </div>
            <h2 style="text-align: center">{{statistic.averageDeclarationTimeOfReleaseByLastMonth}}</h2>
        </div>

    </div>

    <p></p>
    <p></p>

    <div style="display: flex; justify-content: space-between">
        <h3>Список ДТ</h3>
        <button type="button" class="btn btn-outline-success" ng-click=download()>Download</button>
    </div>
    <p></p>

    <div class="col-12 mt-3">
        <form class="form-inline" novalidate ng-submit="loadDeclarations()">
            <div class="form-group mb-2 mr-2">
                <label for="numberPartFilter" style="margin-right: 5px">Поиск по номеру</label>
                <input type="text" class="form-control" id="numberPartFilter" placeholder="введите номер"
                       ng-model="filter.numberPart">
            </div>
            <button class="btn btn-primary mb-2" type="submit">Найти</button>
            <label for="numberPartFilter" style="margin-left: 5px">* достаточно указать фрагмент номера
                документа. "Refresh" вернет общий список</label>
        </form>
    </div>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <td>ДТ №</td>
            <td>Статус</td>
            <td>Грузоотправитель</td>
            <td>Инвойс</td>
            <td>Фактурная стоимость</td>
            <td>Дата и время подачи ДТ</td>
            <td>Дата и время выпуска / отказа</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in declarationPage.items">
            <td>{{d.number}}</td>
            <td>{{d.status}}</td>
            <td>{{d.consignor}}</td>
            <td>{{d.invoiceData}}</td>
            <td>{{d.goodsValue}}</td>
            <td>{{d.dateOfSubmission}}</td>
            <td>{{d.dateOfRelease}}</td>
        </tr>
        </tbody>
    </table>

    <div style="display: flex; justify-content: space-between">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" ng-repeat="pageIndex in pagesList">
                    <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
                </li>
            </ul>
        </nav>

        <button type="button" class="btn btn-outline-primary btn-sm" ng-click="refresh()">Refresh</button>
    </div>

</div>