server:
  port: 5555

spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
            allowedHeaders: "*"
      routes:
        - id: core-service
          uri: http://localhost:8189
          predicates:
            - Path=/core/**
          filters:
            - StripPrefix=1
            - PrefixPath=/customs-core
            - JwtAuthFilter
            - NotForGuestsFilter
            - name: RequestSize
              args:
                maxSize: 1MB
        - id: notification-service
          uri: http://localhost:8186
          predicates:
            - Path=/notification/**
          filters:
            - StripPrefix=1
            - PrefixPath=/customs-notification
            - JwtAuthFilter
            - NotForGuestsFilter
            - name: RequestSize
              args:
                maxSize: 1MB
        - id: auth-service
          uri: http://localhost:8187
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
            - PrefixPath=/customs-auth
            - JwtAuthFilter
            - name: RequestSize
              args:
                maxSize: 1MB

jwt:
  secret: 2mflkgei234lvmjrtkj39u14690bmu3o;ijeriu6m1ubm341!@$UFNheuwiysdtuq349

logging:
  level:
    reactor:
      netty: DEBUG
    org:
      springframework:
        cloud:
          gateway: DEBUG
